In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv("stores.csv")
df.head()

,Customer,Type of Customer,Items,Net Sales,Method of Payment,College Graduate,Marital Status,Age
0,1,Regular,1,39.5,Discover,No,Married,32
1,2,Promotional,1,102.4,Proprietary Card,Yes,Married,36
2,3,Regular,1,22.5,Proprietary Card,Yes,Married,32
3,4,Promotional,5,100.4,Proprietary Card,Yes,Married,28
4,5,Regular,2,54.0,MasterCard,Yes,Married,34

In [2]:
# Question 1: What is the most common type of customer?
most_common_customer_type = df['Type of Customer'].value_counts().idxmax()
print("Q1:", most_common_customer_type)

Q1: Promotional

In [3]:
# Question 2: What is the average number of items purchased?
average_items_purchased = df['Items'].mean()
print("Q2:", round(average_items_purchased, 2))

Q2: 3.22

In [4]:
# Question 3: What is the maximum net sales value?
max_net_sales = df['Net Sales'].max()
print("Q3:", max_net_sales)

Q3: 287.59

In [5]:
# Question 4: Which payment method is most frequently used?
most_common_payment_method = df['Method of Payment'].value_counts().idxmax()
print("Q4:", most_common_payment_method)

Q4: Proprietary Card

In [6]:
# Question 5: What percentage of customers are college graduates?
college_graduate_percentage = (df['College Graduate'].value_counts(normalize=True)['Yes'] * 100)
print("Q5:", round(college_graduate_percentage, 2))

Q5: 93.0

In [7]:
# Question 6: What is the marital status of most customers?
most_common_marital_status = df['Marital Status'].value_counts().idxmax()
print("Q6:", most_common_marital_status)

Q6: Married

In [8]:
# Question 7: What is the average age of customers?
average_age = df['Age'].mean()
print("Q7:", round(average_age, 2))

Q7: 43.08

In [9]:
# Question 8: What is the range of ages in the dataset?
age_range = (df['Age'].min(), df['Age'].max())
print("Q8:", age_range)

Q8: (np.int64(20), np.int64(78))

In [10]:
# Question 9: How many unique payment methods are there?
unique_payment_methods = df['Method of Payment'].nunique()
print("Q9:", unique_payment_methods)

Q9: 5

In [11]:
# Question 10: What is the median net sales value?
median_net_sales = df['Net Sales'].median()
print("Q10:", median_net_sales)

Q10: 59.705

In [12]:
# Question 11: What is the most common number of items purchased?
most_common_items_purchased = df['Items'].value_counts().idxmax()
print("Q11:", most_common_items_purchased)

Q11: 1

In [13]:
# Question 12: How many customers are not college graduates?
non_graduates_count = (df['College Graduate'] == 'No').sum()
print("Q12:", non_graduates_count)

Q12: 7

In [14]:
# Question 13: What is the least common payment method?
least_common_payment_method = df['Method of Payment'].value_counts().idxmin()
print("Q13:", least_common_payment_method)

Q13: American Express

In [15]:
# Question 14: What is the standard deviation of net sales?
std_dev_net_sales = df['Net Sales'].std()
print("Q14:", round(std_dev_net_sales, 2))

Q14: 55.66

In [17]:
# Question 15: How many customers are single?
single_customers_count = (df['Marital Status'] == 'Single').sum()
print("Q15:", single_customers_count)

Q15: 16

In [18]:
# Question 16: What is the maximum number of items purchased in a single transaction?
max_items_purchased = df['Items'].max()
print("Q16:", max_items_purchased)

Q16: 17

In [19]:
# Question 17: What is the most common age of customers?
most_common_age = df['Age'].value_counts().idxmax()
print("Q17:", most_common_age)

Q17: 46

In [20]:
# Question 18: How many unique ages are there in the dataset?
unique_ages_count = df['Age'].nunique()
print("Q18:", unique_ages_count)

Q18: 26

In [21]:
# Question 19: What is the total number of transactions in the dataset?
total_transactions = len(df)
print("Q19:", total_transactions)

Q19: 100

In [22]:
# Question 20: What is the proportion of promotional customers?
promotional_customers_proportion = (df['Type of Customer'] == 'Promotional').mean() * 100
print("Q20:", round(promotional_customers_proportion, 2))

Q20: 70.0